body {
  height: 100%;
  margin: 0;
} 

header {
  width: 100%;
  text-align: center;
  background-color: #05DBF2;
  background-color: #72CDF4;
  height: 25%;
  min-height: 100px;
  /*font-family: 'Freckle Face', cursive;*/
  font-family: 'Ribeye', cursive;
  font-size: 1.3em;
  font-size: 50px;
}

#name {
  padding-top: 10px;
}

section {
  height: 71%;
  background-color: #05AFF2;
}

.water-top {
  background-color: white;
  height: 20%;
  opacity: 0.1;
}

footer {
  height: 6%;
  background-color: #E5CCB1;
}

/*
05AFF2
05C7F2
05DBF2
03A696
04BF9D
*/


